.title {
  padding-left: 8px;
  color: #40bf5f;
  margin-bottom: 0;
}
.index {
  background-color: #414b4b;
}
.material-button-raised {
  margin: 2em;
  height: 10%;
}
.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 5em;
  margin: 16px;
}
.card {
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.26);
  margin: 8px;
  padding: 8px;
}
.card:hover {
  background-color: #808080;
}
